<ion-footer>
  <ion-grid class="ion-padding">
    <ion-row class="footer-content">
      <ion-col size="12" size-md="4" class="contact-section">
        <ion-text>
          <h3>Contact</h3>
          <br />
          <p>
            <ion-icon [icon]="callOutline"></ion-icon>
            <a href="tel:+40725935920"> 072 606 5888</a>
          </p>

          <p>
            <ion-icon [icon]="locationOutline"></ion-icon> Biled, Timisoara,
            Timis,
            <br />
            Strada Castanilor, Numarul 236
          </p>
        </ion-text>
      </ion-col>

      <!-- Quick Links -->
      <ion-col size="12" size-md="4">
        <ion-text color="light">
          <h3>Meniu</h3>
          <br />
          <p><a routerLink="/">Bun venit</a></p>
          <p><a routerLink="/services">Servicii</a></p>
          <p><a routerLink="/location">Locatie</a></p>
          <p>
            <a routerLink="/about">Despre</a>
          </p>
          <p><a routerLink="/contact">Contact</a></p>
        </ion-text>
      </ion-col>

      <!-- Social Media & Legal -->
      <ion-col size="12" size-md="4">
        <ion-text color="light">
          <h3>Social Media</h3>
          <br />
          <a
            href="https://www.facebook.com/lcprofessionaldetailing?locale=ro_RO"
            target="_blank"
            rel="noopener noreferrer"
          >
            <ion-icon
              [icon]="logoFacebook"
              size="large"
              class="social-icon"
            ></ion-icon>
          </a>
          <a
            href="https://www.tiktok.com/@lc.professional.d"
            target="_blank"
            rel="noopener noreferrer"
          >
            <ion-icon
              [icon]="logoTiktok"
              size="large"
              class="social-icon"
            ></ion-icon>
          </a>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
