<div class="about-container">
  <!-- Right Section: Image -->
  <div class="about-image-container">
    <img
      src="detailing-interior-v2.jpg"
      alt="About Image"
      class="about-image"
    />
  </div>

  <!-- Left Section: Description -->
  <div class="about-description-container">
    <p class="about-description">
      La LC-Professional Detailing, fiecare mașină primește atenția și grija pe
      care o merită. Nu este doar un serviciu, ci o pasiune de la o simplă
      spălare până la protecția ceramică premium, mă asigur că fiecare detaliu
      contează. Îmi doresc ca atunci când îți vezi mașina, să simți aceeași
      bucurie ca în prima zi. Calitate, atenție la detalii și pasiune totul
      pentru ca mașina ta să arate impecabil de fiecare dată! 🚗✨
    </p>
  </div>
</div>
