<div
  class="service-sections-wrapper"
  *ngFor="let service of services; let i = index"
  [ngClass]="{ 'reverse-layout': i % 2 !== 0 }"
>
  <ion-card color="$main-color" [id]="'service-' + service.id">
    <h1>{{ service.title }}</h1>
    <div class="content-wrapper">
      <!-- Image Section -->
      <swiper-container
        class="mySwiper"
        pagination="true"
        pagination-dynamic-bullets="true"
        autoplay-delay="4000"
      >
        <swiper-slide *ngFor="let image of service.images">
          <img
            alt="{{ service.title }}"
            class="services-card-image"
            [src]="image"
          />
        </swiper-slide>
      </swiper-container>

      <!-- Content Section -->
      <ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{ service.description }}</ion-card-subtitle>
        </ion-card-header>
        <ion-list lines="none">
          <ion-item *ngFor="let feature of service.features">
            <ion-icon [name]="feature.icon" slot="start"></ion-icon>
            <ion-label>{{ feature.text }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-item lines="full">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label
            ><strong>Durată estimată:</strong> {{ service.duration }}</ion-label
          >
        </ion-item>

        <ion-card-header>
          <ion-card-subtitle>Tarife</ion-card-subtitle>
        </ion-card-header>

        <ion-list>
          <ion-item *ngFor="let price of service.pricing">
            <ion-icon [name]="price.icon" slot="start"></ion-icon>
            <ion-label
              >{{ price.type }}: <strong>{{ price.price }}</strong></ion-label
            >
          </ion-item>
        </ion-list>
      </ion-card-content>
    </div>
  </ion-card>
</div>
