<!-- 
<div class="carrousel-container">
  <swiper-container
    class="mySwiper"
    pagination="true"
    pagination-clickable="true"
    navigation="true"
    space-between="30"
    centered-slides="true"
    autoplay-delay="10000"
    autoplay-disable-on-interaction="false"
  >
    <swiper-slide class="first-slide"></swiper-slide>
    <swiper-slide class="second-slide"></swiper-slide>
    <swiper-slide class="third-slide"></swiper-slide>
    <swiper-slide></swiper-slide>
    <swiper-slide></swiper-slide>
    <swiper-slide></swiper-slide>
    <swiper-slide></swiper-slide>
    <swiper-slide></swiper-slide>
    <swiper-slide></swiper-slide>
    <div class="autoplay-progress" slot="container-end">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </swiper-container>
</div>
 -->

<swiper-container
  class="mySwiper"
  pagination="true"
  effect="coverflow"
  grab-cursor="true"
  centered-slides="true"
  slides-per-view="auto"
  initial-slide="1"
  coverflow-effect-rotate="50"
  coverflow-effect-stretch="0"
  coverflow-effect-depth="100"
  coverflow-effect-modifier="1"
  coverflow-effect-slide-shadows="true"
  autoplay-delay="4000"
>
  <swiper-slide>
    <img class="first-slide" />
  </swiper-slide>
  <swiper-slide>
    <img class="second-slide" />
  </swiper-slide>
  <swiper-slide>
    <img class="third-slide" />
  </swiper-slide>
  <swiper-slide>
    <img class="fourth-slide" />
  </swiper-slide>
  <swiper-slide>
    <img class="fifth-slide" />
  </swiper-slide>
  <swiper-slide>
    <img class="sixth-slide" />
  </swiper-slide>
  <swiper-slide>
    <img class="seventh-slide" />
  </swiper-slide>
</swiper-container>
