<div class="nav-bar">
  <ion-avatar class="logo"></ion-avatar>

  <ion-tab-bar class="nav-menu-list">
    <ion-tab-button class="nav-menu-item">
      <ion-label>Servicii</ion-label>
    </ion-tab-button>
    <ion-tab-button class="nav-menu-item">
      <ion-label>Locatie</ion-label>
    </ion-tab-button>
    <ion-tab-button class="nav-menu-item">
      <ion-label>Despre</ion-label>
    </ion-tab-button>
    <ion-tab-button class="nav-menu-item">
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
