<div class="services-cards-wrapper">
  <ion-card
    class="services-card"
    *ngFor="let service of services; let i = index"
  >
    <img
      alt="{{ service.title }}"
      class="services-card-image"
      [src]="service.image"
    />
    <ion-card-header>
      <ion-card-title class="services-cards-title">
        <strong>{{ service.title }}</strong>
      </ion-card-title>
    </ion-card-header>
    <ion-button (click)="goToServiceDetails(service.id)">
      Mai multe detalii
    </ion-button>
  </ion-card>
</div>
