<div class="services-cards-wrapper">
  <ion-card class="services-card">
    <img
      alt="detailing-exterior"
      class="services-card-image"
      src="detailing-exterior.jpg"
    />
    <ion-card-header>
      <ion-card-title class="services-cards-title">
        <strong>Detailing Exterior </strong></ion-card-title
      >
    </ion-card-header>

    <ion-card-content class="services-card-content">
      <ul>
        <li>Decontaminare chimică și mecanică a vopselei</li>
        <li>
          Corecție lac (polish 1-3 etape, în funcție de gradul defectelor)
        </li>
        <li>Eliminare zgârieturi fine și imperfecțiuni</li>
      </ul>
      <br />
      <strong>Durată estimată:</strong> 2-3 zile<br />
      <br />
      <strong>Tarife:</strong><br />
      - Mașini / Sedan: 1200-1500 RON<br />
      - SUV-uri: 1500-2000 RON<br />
    </ion-card-content>
  </ion-card>

  <ion-card class="services-card">
    <img
      alt="detailing-exterior"
      class="services-card-image"
      src="detailing-interior-v2.jpg"
    />
    <ion-card-header>
      <ion-card-title class="services-cards-title">
        <strong>Detailing Interior </strong></ion-card-title
      >
    </ion-card-header>

    <ion-card-content class="services-card-content">
      <ul>
        <li>Aspirare covorașe, scaune și mochetă</li>
        <li>Curățare bord, vinil și scaune</li>
        <li>Curățare guri de aerisire și panouri uși</li>
        <li>
          Curățare și igienizare consola centrală și suporturi pentru pahare
        </li>
        <li>Curățare tapiserie din material textil sau piele</li>
        <li>
          Aplicare tratament de protecție pentru scaune din piele (dacă este
          cazul)
        </li>
        <li>Dezinfectare habitaclu și igienizare sistem de climatizare</li>
      </ul>
      <br />
      <strong>Durată estimată:</strong> 1-2 zile<br />
      <br />
      <strong>Tarife:</strong><br />
      - Mașini / Sedan: 800-1500 RON<br />
      - SUV-uri: 1200-2000 RON<br />
    </ion-card-content>
  </ion-card>

  <ion-card class="services-card">
    <img
      alt="detailing-exterior"
      class="services-card-image"
      src="ceramic-ultra-version-2.jpg"
    />
    <ion-card-header>
      <ion-card-title class="services-cards-title">
        <strong>Protectie ceramica </strong></ion-card-title
      >
    </ion-card-header>

    <ion-card-content class="services-card-content">
      <ul>
        <li>
          <strong>Protecție durabilă:</strong> Strat rezistent ce protejează
          vopseaua de zgârieturi și contaminanți.
        </li>
        <li>
          <strong>Tehnologie hidrofobă:</strong> Respinge apa și murdăria,
          ușurând curățarea.
        </li>
        <li>
          <strong>Rezistență UV:</strong> Previne decolorarea vopselei din cauza
          soarelui.
        </li>
        <li>
          <strong>Durabilitate pe termen lung:</strong> Protecție până la 5 ani.
        </li>
        <li>
          <strong>Rezistență chimică:</strong> Protejează împotriva petelor de
          apă și contaminanților agresivi.
        </li>
      </ul>

      <strong>Durată estimată:</strong> 1 zi<br />
      <br />
      <strong>Tarife:</strong><br />
      - Mașini / Sedan: 1000-1500<br />
      - SUV-uri: 1500-2000 RON<br />
    </ion-card-content>
  </ion-card>

  <ion-card class="services-card">
    <img
      alt="detailing-exterior"
      class="services-card-image"
      src="colantare-exterior.jpg"
    />
    <ion-card-header>
      <ion-card-title class="services-cards-title">
        <strong>Colantare Exterior cu Folie Skyfol</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="services-card-content">
      <ul>
        <li>
          <strong>Protecție avansată:</strong> Folie Skyfol rezistentă la
          zgârieturi și impacturi mici.
        </li>
        <li>
          <strong>Rezistență UV:</strong> Previne decolorarea vopselei, păstrând
          aspectul mașinii.
        </li>
        <li>
          <strong>Reducerea murdăriei:</strong> Oferă protecție împotriva
          prafului și apei.
        </li>

        <li>
          <strong>Personalizare:</strong> Posibilitate de colantare totală sau
          parțială.
        </li>
        <li>
          <strong>Durabilitate ridicată:</strong> Protecție de până la 5 ani (în
          funcție de utilizare).
        </li>
      </ul>
      <em>
        Folia Skyfol protejează zonele expuse la uzură, cum ar fi pragurile,
        botul mașinii și oglinzile laterale, menținând aspectul ca nou pentru o
        perioadă îndelungată.
      </em>
      <br />
      <br />
      <strong>Durată estimată:</strong> 3-5 zile<br />
      <br />
      <strong>Tarife:</strong><br />
      - Mașini / Sedan: 5000-7000 RON<br />
      - SUV-uri: 7000-9000 RON<br />
    </ion-card-content>
  </ion-card>

  <ion-card class="services-card">
    <img
      alt="detailing-exterior"
      class="services-card-image"
      src="polish-faruri.jpg"
    />
    <ion-card-header>
      <ion-card-title class="services-cards-title">
        <strong>Polishare Faruri</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="services-card-content">
      <ul>
        <li>
          <strong>Restaurare faruri:</strong> Elimină opacitatea și
          îmbunătățește claritatea.
        </li>
        <li>
          <strong>Protecție UV:</strong> Previne îngălbenirea și deteriorarea
          cauzată de expunerea la soare.
        </li>
        <li>
          <strong>Folie de protectie Skyfol:</strong> Protejează împotriva
          zgârieturilor și contaminanților.
        </li>
        <li>
          <strong>Ușurință în întreținere:</strong> Menține farurile clare și
          ușor de curățat.
        </li>
        <li>
          <strong>Durabilitate crescută:</strong> Protecție de până la 3 ani
          oferita de producator.
        </li>
      </ul>
      <br />
      <em>
        Polisharea farurilor și aplicarea foliei de protectie Skyfol garantează
        faruri clare și protejate pe termen lung. </em
      ><br />
      <br />
      <strong>Durată estimată:</strong> 4-6 ore<br />
      <strong>Tarife:</strong><br />
      - Mașini / Sedan: 300-600 RON<br />
      - SUV-uri: 400-700 RON<br />
    </ion-card-content>
  </ion-card>

  <ion-card class="services-card">
    <img
      alt="detailing-jante"
      class="services-card-image"
      src="detailing-jante.jpg"
    />
    <ion-card-header>
      <ion-card-title class="services-cards-title">
        <strong>Detailing Jante</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="services-card-content truncate">
      <ul>
        <li>
          <strong>Curățare completă:</strong> Îndepărtarea murdăriei, prafului
          de frână și resturilor.
        </li>
        <li>
          <strong>Protecție avansată:</strong> Aplicare de soluție de protecție
          pentru un finisaj lucios și durabil.
        </li>
        <li>
          <strong>Rezistență la murdărie:</strong> Straturi care previn
          depunerea de murdărie și praf pe jante.
        </li>
        <li>
          <strong>Protecție UV:</strong> Previne decolorarea și îmbătrânirea
          jantelor datorită expunerii la soare.
        </li>
        <li>
          <strong>Durabilitate crescută:</strong> Protecție pe termen lung, până
          la 6 luni, în funcție de condițiile de utilizare.
        </li>
      </ul>
      <br />
      <em>
        Detailingul jantelor îmbunătățește aspectul și protejează jantele de
        coroziune, păstrându-le ca noi pe termen lung. </em
      ><br />
      <br />
      <strong>Durată estimată:</strong> 1-2 ore<br />
      <strong>Tarife:</strong><br />
      - Mașini / Sedan: 200-400 RON<br />
      - SUV-uri: 300-500 RON<br />
    </ion-card-content>
  </ion-card>
</div>
